#canvas{
  position: absolute;
  border: solid 1.5px blue;
  /*margin-left: 5%;*/
  left: 5%;

  /*margin-top: 85px;*/
  /*
  width: 45%;
  height: 88%;
  */
  margin-top: 5%;
  margin-bottom: 5%;
  width: 85vw;
  height: 85vw;


  /*width: 45%;**/
  /*height: 88%;*/
  /*height: 42.5vw;**/
}

.offset{
  margin-top: 150px;
}

@media screen and (min-width: 992px) {
  #canvas{
    margin-top: 85px;
    width: 42.5vw;
    height: 42.5vw;
  }
  .offset{
    margin-top: 85px;
  }
}

@media screen and (max-width: 767px) {

  .offset{
    margin-top: 85px;
  }
}



/*
#canvas:after{
  content: "";
  display: block;
  padding-bottom: 100%;
  padding-left: 100%;
}*/
