<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <script type="text/javascript" src="Square.js"></script>
    <script type="text/javascript" src="MazeOnFire.js"></script>

    <section>
      <canvas id="canvas" width="300.0px" height="300.0px" </canvas>
    </section>

    <aside>
      <input id="input1" type="text" name="input1"><br>
      <button type="submit" name="button" onclick="mazeInit(input1.value)">Button</button><br>
    </aside>

    <!-- <script src="./three.js" charset="utf-8"></script>    -->
    <!-- <script type="module" src="main.js" charset="utf-8"></script>   -->
    <!-- <script src="main.js" charset="utf-8"></script>      -->

    <section>
      <div>
        <h1>Sample title</h1>
        <p>Sample text</p>
        <a href="#">Some Link</a>
      </div>
    </section>

    <section>
      <img src="AI.png" alt="">
    </section>

  </body>
  <!-- Include alt="" for tag-->
  <script type="text/javascript">
    alert("AAAA")
    //document.write("OwO");
    //console.log("alert(" + 34 + "uwu" + 34 + ")");
  </script>
  <script src="alert.js" charset="utf-8"></script>
</html>
